<li>
	{{burger_name}}

	<button class="devour" data-id="{{id}}" data-devour="{{devour}}">
		{{#if burger}}!{{else}}Devour It!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
</li>
